/*Header Style*/
body{
    position: relative;
}
header{
    height: 70px;
    background-color: rgba(7, 29, 66, 1);
    position: sticky;
    z-index: 2;
    top: 0;

}
header>p{
    color: white;
    position: absolute;
    /*font-family:"Tsukushi A Round Gothic";*/
    font-family:"Toppan Bunkyu Gothic";
    font-size: 30px;
    margin-top: 12px;
    margin-left: 15px;
}
header>nav>ul{
    position: absolute;
    top: 4px;
    right: 160px;
}
header>nav>ul>li{
    display: inline;
    margin-right: 20px;
    border-right: 20px;
    font-size: 19px;
    color: white;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: white;
    margin-left: 9px;
    font-weight: bold;
    /*font-family:"Tsukushi A Round Gothic";*/
    /*font-family: "Roboto Light";*/
    font-family:"Toppan Bunkyu Gothic"
}
header>nav>div{
    width: 150px;
    height: 30px;
    border:2px solid white;
    background-color: dodgerblue;
    border-radius: 10px;
    position: absolute;
    right: 9px;
    top: 13px;
    margin: auto;
}
header>nav>div>h4{
    font-family:"Toppan Bunkyu Gothic";
    color: white;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 21px;
    right: 0;
    margin: auto;
}

/*Home Styles*/

body>main>section:nth-child(1){ /*main section*/
    width: 100vw;
    height: 95vh;
    background: url("/assets/image/back.jpg");
    background-size: 100vw 95vh;
    /*background-color: rgba(23, 39, 82, 1);*/
    position: relative;
}
body>main>section:nth-child(1)>article{
    width: 50vw;
    height: 95vh;
    position: absolute;
    top:0;
    left: 0;
}
body>main>section:nth-child(1)>aside{
    width: 50vw;
    height: 95vh;
    position: absolute;
    top:0;
    right:0;
}

body>main>section:nth-child(1)>article>h3{
    margin-top: 0px;
}
body>main>section:nth-child(1)>article>h4{
    margin-top: 0px;
}

body>main>section:nth-child(1)>aside>img{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 85%;
    height: 80%;
}
body>main>section:nth-child(1)>article>h4:nth-child(1){
    color: white;
    position: relative;
    top:190px;
    left: 100px;
    font-size:400%;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}
body>main>section:nth-child(1)>article>h4:nth-child(2){
    /*color: rgba(0, 168, 255, 1);*/
    color: #1B9CFC;
    position: relative;
    top:190px;
    left: 135px;
    font-size: 400%;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}
body>main>section:nth-child(1)>article>h4:nth-child(3){
    /*color: rgba(0, 168, 255, 1);*/
    color: white;
    position: relative;
    top:268px;
    left: -380px;
    font-size:400%;
    display: inline;
}

body>main>section:nth-child(1)>article>h4:nth-child(4){
    /*color: rgba(0, 168, 255, 1);*/
    color: #1B9CFC;
    position: relative;
    top:268px;
    left:-350px;
    font-size: 400%;
    display: inline;
}

body>main>section:nth-child(1)>article>p{
    /*color: rgba(0, 168, 255, 1);*/
    color: white;
    position: relative;
    top:350px;
    left: 96px;
    font-size: 200%;
    font-family:Arial;
    display: inline;
    /*opacity: .5;*/
}
body>main>section:nth-child(1)>article>p{

    color: white;
    position: relative;
    top:350px;
    left: 96px;
    font-size: 19px;
    /*font-family:Optima;*/
    /*opacity: .5;*/
    font-family:"Tsukushi A Round Gothic";
    display: inline;
}
