/*Header Style*/
body{
    position: relative;
}
header{
    height: 70px;
    background-color: rgba(7, 29, 66, 1);
    position: sticky;
    z-index: 2;
    top: 0;

}

header>p{
    color: white;
    position: absolute;
    /*font-family:"Tsukushi A Round Gothic";*/
    font-family:"Toppan Bunkyu Gothic";
    font-size: 30px;
    margin-top: 12px;
    margin-left: 15px;
}

header>nav>ul{
    position: absolute;
    top: 4px;
    right: 160px;
}
header>nav>ul>li{
    display: inline;
    margin-right: 20px;
    border-right: 20px;
    font-size: 19px;
    color: white;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: white;
    margin-left: 9px;
    font-weight: bold;
    /*font-family:"Tsukushi A Round Gothic";*/
    /*font-family: "Roboto Light";*/
    font-family:"Toppan Bunkyu Gothic"
}

header>nav>div{
    width: 150px;
    height: 30px;
    border:2px solid white;
    background-color: dodgerblue;
    border-radius: 10px;
    position: absolute;
    right: 9px;
    top: 13px;
    margin: auto;
}
header>nav>div>h4{
    font-family:"Toppan Bunkyu Gothic";
    color: white;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 21px;
    right: 0;
    margin: auto;
}

/*Home Styles*/

body>main>section:nth-child(1){ /*main section*/
    width: 100vw;
    height: 95vh;
    background: url("/assets/image/back.jpg");
    background-size: 100vw 95vh;
    /*background-color: rgba(23, 39, 82, 1);*/
    position: relative;
}
body>main>section:nth-child(1)>article{
    width: 50vw;
    height: 95vh;
    position: absolute;
    top:0;
    left: 0;
}

body>main>section:nth-child(1)>aside{
    width: 50vw;
    height: 95vh;
    position: absolute;
    top:0;
    right:0;
}
body>main>section:nth-child(1)>article>h3{
    margin-top: 0px;
}
body>main>section:nth-child(1)>article>h4{
    margin-top: 0px;
}

body>main>section:nth-child(1)>aside>img{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 85%;
    height: 80%;
    }

body>main>section:nth-child(1)>article>h4:nth-child(1){
    color: white;
    position: absolute;
    top:190px;
    left: 96px;
    font-size:400%;
}
body>main>section:nth-child(1)>article>h4:nth-child(2){
    /*color: rgba(0, 168, 255, 1);*/
    color: #1B9CFC;
    position: absolute;
    top:190px;
    left: 210px;
    font-size: 400%;
}
body>main>section:nth-child(1)>article>h4:nth-child(3){
    /*color: rgba(0, 168, 255, 1);*/
    color: white;
    position: absolute;
    top:268px;
    left: 96px;
    font-size:400%;
}

body>main>section:nth-child(1)>article>h4:nth-child(4){
    /*color: rgba(0, 168, 255, 1);*/
    color: #1B9CFC;
    position: absolute;
    top:268px;
    left: 150px;
    font-size: 400%;
}

body>main>section:nth-child(1)>article>p{
    /*color: rgba(0, 168, 255, 1);*/
    color: white;
    position: absolute;
    top:350px;
    left: 96px;
    font-size: 200%;
    font-family:Arial;
    /*opacity: .5;*/
}
body>main>section:nth-child(1)>article>p{

    color: white;
    position: absolute;
    top:350px;
    left: 96px;
    font-size: 19px;
    /*font-family:Optima;*/
    /*opacity: .5;*/
    font-family:"Tsukushi A Round Gothic";
}

body>main>section:nth-child(1)>article>div{
    width: 173px;
    height: 58px;
    background-color: #1B9CFC;
    border-radius: 30px;
    position: absolute;
    top: 70px;
    left: 10px;
    right: 490px;
    bottom: 0;
    margin: auto;
    /*position: relative;*/
}
body>main>section:nth-child(1)>article>div>div{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color:#1B9CFC ;
    position: absolute;
    top: 1px;
    right: 1px;
    border: 3px solid white;
}
body>main>section:nth-child(1)>article>div>div>div{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color:white ;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
body>main>section:nth-child(1)>article>div>p{
    color: white;
    position: absolute;
    top: 9px;
    left: 16px;
    font-family: "Arial Hebrew Scholar";
    font-size: 14px;
}
body>main>section:nth-child(1)>article>div>div>div>img{
    position: absolute;
    width:30px;
    height: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
body>main>section:nth-child(1)>img{
    width: 31px;
    height: 31px;
    right: 4px;
    opacity: .7;
    position: absolute;
}
body>main>section:nth-child(1)>img:nth-child(3){
    width: 39px;
    height: 39px;
    right: 0;
    bottom: 170px;
}
body>main>section:nth-child(1)>img:nth-child(4){
    bottom: 130px;
}
body>main>section:nth-child(1)>img:nth-child(5){
    bottom:85px;
}
body>main>section:nth-child(1)>img:nth-child(6){
    bottom: 40px;
}

/*About Styles*/

body>main>section:nth-child(2){
    position: relative;
    width: 98vw;
    height: 95vh;
    background-color: rgba(241, 251, 255, 0.54);
    margin-right: 10px;
}
body>main>section:nth-child(2)>p:nth-child(1){
    margin-top: 0;
    position: absolute;
    top: 0;
    right:470px;
    font-size: 120px;
    font-weight: bold;
    opacity:.1;
    font-family: "Avenir Next";
}
body>main>section:nth-child(2)>aside{
    width: 32vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

body>main>section:nth-child(2)>article{
    width: 68vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}
body>main>section:nth-child(2)>p:nth-child(2){
    margin-top: 0;
    position: absolute;
    top: 40px;
    right:640px;
    font-size: 38px;
    font-weight: bold;
    font-family: "Avenir Next";
}
body>main>section:nth-child(2)>div:nth-child(3) {
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #1B9CFC;
    top: 78px;
    right: 740px;
}

body>main>section:nth-child(2)>aside>img{
    width: 90%;
    height: 75%;
    position: absolute;
   bottom: 50px;
    left: 0;
}
body>main>section:nth-child(2)>article>p:nth-child(1){
    position: absolute;
    left: 0;
    top: 150px;
    font-size: 40px;
    font-family:"Toppan Bunkyu Gothic"
}

body>main>section:nth-child(2)>article>p:nth-child(2){
    position: absolute;
    left: 0;
    top: 300px;
    font-size: 20px;
    font-family:"Toppan Bunkyu Gothic";
    opacity: .7;
}
body>main>section:nth-child(2)>article>p:nth-child(3){
    position: absolute;
    left: 0;
    top:430px;
    font-size: 20px;
    font-family:"Toppan Bunkyu Gothic";
    opacity: .7;
}
body>main>section:nth-child(2)>article>p:nth-child(4){
    position: absolute;
    left: 0;
    bottom:370px;
    font-size: 20px;
    font-family:"Toppan Bunkyu Gothic";
    opacity: .7;
}
body>main>section:nth-child(2)>article>div:nth-child(5){
    position: absolute;
    width:650px;
    height: 250px;
    background-color:rgba(247, 250, 252, 1);
    bottom: 100px;
    left: 0;
    border-radius: 30px;
    border: 1px solid darkblue;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4{
    position: absolute;
    /*display: inline-block;*/
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(1){
    top: 0;
    left: 13px;
    font-size: 22px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(2){
    top: 28px;
    left: 13px;
    opacity: .5;
    font-size: 20px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(3){
    top: 83px;
    left: 13px;
    font-size: 22px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(4){
    top: 111px;
    left: 13px;
    opacity: .5;
    font-size: 20px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(5){
    top: 164px;
    left: 13px;
    font-size: 22px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(6){
    top: 189px;
    left: 13px;
    opacity: .5;
    font-size: 20px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(7){
    left: 400px;
    font-size: 22px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(8){
    top: 28px;
    left: 400px;
    opacity: .5;
    font-size: 20px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(9){
    top: 83px;
    left: 400px;
    font-size: 22px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(10){
    top: 111px;
    left: 400px;
    opacity: .5;
    font-size: 20px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(11){
    top: 164px;
    left: 400px;
    font-size: 22px;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(12){
    top: 189px;
    left: 400px;
    opacity: .5;
    font-size: 20px;
}

/*Skill Styles*/
body>main>section:nth-child(3){
    position: relative;
    width: 100vw;
    height: 95vh;
    background-color: rgba(241, 251, 255, 0.54);
    /*background-color: red;*/
}
body>main>section:nth-child(3)>p:nth-child(1){
    margin-top: 0;
    position: absolute;
    top: 0;
    right:500px;
    font-size: 120px;
    font-weight: bold;
    opacity:.1;
    font-family: "Avenir Next";
}
body>main>section:nth-child(3)>p:nth-child(2){
    margin-top: 0;
    position: absolute;
    top: 40px;
    right:740px;
    font-size: 38px;
    font-weight: bold;
    font-family: "Avenir Next";
}
body>main>section:nth-child(3)>div:nth-child(3) {
    position: absolute;
    width: 50vw;
    height: 6vh;
    background-color: rgba(31, 58, 130, 1);
    right: 400px;
    top:200px;
    z-index: 2;
    border-radius: 35px;
}

body>main>section:nth-child(3)>section:nth-child(4) {
    width: 70vw;
    height: 60vh;
    position: absolute;
    left: 270px;
    top: 225px;
    border: 2px solid rgba(65, 177, 184, 1);
    background-color: white;

}
body>main>section:nth-child(3)>div:nth-child(3)>button {
    background-color: rgba(31, 58, 130, 1);
    border-radius: 35px;
    height: 6vh;
    color: white;
    width: 15vh;
    border: none;
    position: absolute;
    font-family: "Avenir Next";
    font-weight: bold;
}
body>main>section:nth-child(3)>div:nth-child(3)>button:nth-child(2) {
    left:240px;
}
body>main>section:nth-child(3)>div:nth-child(3)>button:nth-child(3) {
    left:470px;
    background-color:  rgba(0, 168, 255, 1);
}
body>main>section:nth-child(3)>div:nth-child(3)>button:nth-child(4) {
    left:695px;
}
body>main>section:nth-child(3)>img{
    width: 1150px;
    height: 500px;
    position: relative;
    z-index: 1;
    left: 280px;
    top: 280px;
}

/*Service Styles*/
body>main>section:nth-child(4){
    position: relative;
    width: 100vw;
    height: 95vh;
    background-color: rgba(241, 251, 255, 0.54);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body>main>section:nth-child(4)>h1:nth-child(1){
    margin-top: 0;
    position: absolute;
    top: 0;
    right:550px;
    font-size: 120px;
    font-weight: bold;
    opacity:.1;
    font-family: "Avenir Next";
}
body>main>section:nth-child(4)>div:nth-child(1){
    left: 300px;
    position: absolute;
    top: 200px;
    width: 200px;
    height: 30px;
    background-color: #ff253a;
}
body>main>section:nth-child(4)>h3:nth-child(2){
    margin-top: 0;
    position: absolute;
    top: 40px;
    right:740px;
    font-size: 38px;
    font-weight: bold;
    font-family: "Avenir Next";
}
body>main>section:nth-child(4)> #underline{
    background-color: rgba(0, 168, 255, 1);
    width: 70px;
    height: 4px;
    position: absolute;
    left: 814px;
    top: 77px;
}
body>main>section:nth-child(4)>section:nth-child(4){
    /*background-color: rgba(248, 248, 245, 1);*/
    background-color: rgba(235, 241, 244, 1);
    position: absolute;
    width: 100vw;
    height: 60vh;
    bottom: 0;
    left: 0;
    right: 0;
}
body>main>section>.cat{
    width: 350px;
    height: 350px;
    position: relative;
    /*background-color: rgba(239, 239, 238, 1);*/
    background-color: white;
    border: 2px black;
    top: -55px;
    /*border: 1px solid rgba(65, 177, 184, 1);*/
}
body>main>section>div:nth-child(5){
    left: 70px;
}
body>main>section>div:nth-child(7){
    right: 70px;
}
body>main>section>div:nth-child(5)>img{
    width: 80px;
    height: 80px;
    position: relative;
    left: 140px;
    top: 20px;
    margin-right: 20px;
}
body>main>section>div:nth-child(5)>h4{
    font-size: 23px;
    font-family: "Avenir Next";
    position: relative;
    left: 48px;
}
body>main>section>div:nth-child(5)>p{
    font-size: 16px;
    font-family: "Avenir Next";
    position: relative;
    left: 10px;
    top: -12px;
    margin-left: 8px;
}

body>main>section>div:nth-child(6)>img{
    width: 80px;
    height: 80px;
    position: relative;
    left: 140px;
    top: 20px;
}
body>main>section>div:nth-child(6)>h4 {
    font-size: 23px;
    font-family: "Avenir Next";
    position: relative;
    left: 68px;
}
body>main>section>div:nth-child(6)>p{
    font-size: 16px;
    font-family: "Avenir Next";
    position: relative;
    left: 10px;
    top: -12px;
}
body>main>section>div:nth-child(7)>img{
    width: 80px;
    height: 80px;
    position: relative;
    left: 140px;
    top: 20px;
}
body>main>section>div:nth-child(7)>h4{
    font-size: 23px;
    font-family: "Avenir Next";
    position: relative;
    left: 98px;
}
body>main>section>div:nth-child(7)>p{
    font-size: 16px;
    font-family: "Avenir Next";
    position: relative;
    left: 10px;
    top: -12px;
}

body>main>section>section:nth-child(8){
    position: absolute;
    width: 73vw;
    height: 15vh;
    /*background-color: red;*/
    bottom: 100px;
    right: 225px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
body>main>section>section:nth-child(8)>div:nth-child(1){
    /*background-color: #1B9CFC;*/
}
body>main>section>section:nth-child(8)>div:nth-child(1)>h3{
    position: relative;
    left: 140px;
    top: 20px;
    font-size: 50px;
    font-family: "Al Nile";
    margin-top: 0;
    margin-bottom: 0
}
body>main>section>section:nth-child(8)>div:nth-child(1)>h4{
    position: relative;
    left: 100px;
    top: 30px;
    font-size: 17px;
    font-family: "Al Nile";
    margin-top: 0;
    margin-bottom: 0;
}
body>main>section>section:nth-child(8)>div:nth-child(1)>div{
    position: relative;
    left: 300px;
    bottom: 50px;
    width: 3px;
    height: 90px;
    background-color: black;
    opacity: 0.2;
}
body>main>section>section:nth-child(8)>div:nth-child(2){
    /*background-color: orange;*/
}
body>main>section>section:nth-child(8)>div:nth-child(2)>h3{
    position: relative;
    left: 140px;
    top: 20px;
    font-size: 50px;
    font-family: "Al Nile";
    margin-top: 0;
    margin-bottom: 0
}
body>main>section>section:nth-child(8)>div:nth-child(2)>h4{
    position: relative;
    left: 100px;
    top: 30px;
    font-size: 17px;
    font-family: "Al Nile";
    margin-top: 0;
    margin-bottom: 0;
}
body>main>section>section:nth-child(8)>div:nth-child(2)>div{
    position: relative;
    left: 300px;
    bottom: 50px;
    width: 3px;
    height: 90px;
    background-color: black;
    opacity: 0.2;
}
body>main>section>section:nth-child(8)>div:nth-child(3){
    /*background-color: pink;*/
}
body>main>section>section:nth-child(8)>div:nth-child(3)>h3{
    position: relative;
    left: 140px;
    top: 20px;
    font-size: 50px;
    font-family: "Avenir Next";
    margin-top: 0;
    margin-bottom: 0
}
body>main>section>section:nth-child(8)>div:nth-child(3)>h4{
    position: relative;
    left: 100px;
    top: 30px;
    font-size: 17px;
    font-family: "Avenir Next";
    margin-top: 0;
    margin-bottom: 0;
}
body>main>section>section:nth-child(8)>div:nth-child(3)>div{
    position: relative;
    left: 300px;
    bottom: 50px;
    width: 3px;
    height: 90px;
   background-color: black;
    opacity: 0.2;
}
body>main>section>section:nth-child(8)>div:nth-child(4){
    /*background-color: green;*/
}
body>main>section>section:nth-child(8)>div:nth-child(4)>h3{
    position: relative;
    left: 140px;
    top: 20px;
    font-size: 50px;
    font-family: "Avenir Next";
    margin-top: 0;
    margin-bottom: 0
}
body>main>section>section:nth-child(8)>div:nth-child(4)>h4{
    position: relative;
    left: 130px;
    top: 30px;
    font-size: 17px;
    font-family: "Avenir Next";
    margin-top: 0;
    margin-bottom: 0;
}

/*Contact style*/
body>main>section:nth-child(5){
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(241, 251, 255, 0.54);
    margin-right: 10px;
}
body>main>section:nth-child(5)>h1:nth-child(1){
    margin-top: 0;
    margin-bottom: 0;
    font-size: 120px;
    opacity: 0.1;
    position: absolute;
    left: 550px;
    font-family: "Avenir Next";
}
body>main>section:nth-child(5)>h3:nth-child(2){
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    font-size: 38px;
    font-weight: bold;
    font-family: "Avenir Next";
    left: 730px;
    top: 40px;
}
body>main>section:nth-child(5)>div:nth-child(3){
    position: absolute;
    width: 80px;
    height: 5px;
    background-color: #1B9CFC;
    top: 76px;
    right: 790px;
}
body>main>section:nth-child(5)>article:nth-child(4){
    position: relative;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
}
body>main>section:nth-child(5)>aside:nth-child(5){
    position: absolute;
    width: 55%;
    height: 100%;
    top: 0;
    right: 0;
}
body>main>section:nth-child(5)>article:nth-child(4)>div{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color:rgba(36, 61, 125, 1);
    position: absolute;
}
body>main>section:nth-child(5)>article:nth-child(4)>div:nth-child(1){
    left: 80px;
    top: 220px;
}
body>main>section:nth-child(5)>article:nth-child(4)>div:nth-child(1)>img{
    width: 40px;
    height: 50px;
    position: absolute;
    left: 29px;
    top: 25px;
}
body>main>section:nth-child(5)>article:nth-child(4)>h3:nth-child(2){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 200px;
    top: 230px;
    font-size: 30px;
    font-family: "Avenir Next";
}
body>main>section:nth-child(5)>article:nth-child(4)>h4:nth-child(3){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 200px;
    top: 260px;
    font-size: 15px;
    font-family: "Avenir Next";
    opacity: 0.5;

}
body>main>section:nth-child(5)>article:nth-child(4)>div:nth-child(4){
    left: 80px;
    top: 350px;
}
body>main>section:nth-child(5)>article:nth-child(4)>div:nth-child(4)>img{
    width: 40px;
    height: 30px;
    position: absolute;
    left: 29px;
    top: 35px;
}
body>main>section:nth-child(5)>article:nth-child(4)>h3:nth-child(5){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 200px;
    top: 370px;
    font-size: 30px;
    font-family: "Avenir Next";
}
body>main>section:nth-child(5)>article:nth-child(4)>h4:nth-child(6){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 200px;
    top: 400px;
    font-size: 15px;
    font-family: "Avenir Next";
    opacity: 0.5;
}
body>main>section:nth-child(5)>article:nth-child(4)>div:nth-child(7){
    left: 80px;
    top: 490px;
}
body>main>section:nth-child(5)>article:nth-child(4)>div:nth-child(7)>img{
    width: 47px;
    height: 40px;
    position: absolute;
    left: 26px;
    top: 31px;
}
body>main>section:nth-child(5)>article:nth-child(4)>h3:nth-child(8){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 200px;
    top: 510px;
    font-size: 30px;
    font-family: "Avenir Next";
}
body>main>section:nth-child(5)>article:nth-child(4)>h4:nth-child(9){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 200px;
    top: 540px;
    font-size: 15px;
    font-family: "Avenir Next";
    opacity: 0.5;
}
body>main>section:nth-child(5)>aside>form{
    position: relative;
    top: 230px;

}
body>main>section:nth-child(5)>aside>form>#txtName{
    width: 350px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(23, 39, 82,1);
    position: absolute;

}
body>main>section:nth-child(5)>aside>form>#txtEmail{
    width: 350px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(23, 39, 82, 1);
    position: absolute;
    top: 0px;
    left: 370px;
}
body>main>section:nth-child(5)>aside>form>#txtSubject{
    width: 350px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(23, 39, 82, 1);
    position: absolute;
    top: 60px;
    left: 370px;
}
body>main>section:nth-child(5)>aside>form>#txtPhone{
    width: 350px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(23, 39, 82, 1);
    position: absolute;
    top: 60px;

}
body>main>section:nth-child(5)>aside>form>#textArea{
    width: 720px;
    height: 180px;
    border-radius: 8px;
    border: 1px solid rgba(23, 39, 82, 1);
    position: absolute;
    top: 119px;
}
body>main>section:nth-child(5)>aside>form>button{
    width: 190px;
    height: 50px;
    background-color: rgba(0, 168, 255, 1);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 330px;
    font-family: "Avenir Next";
}