/*Header Style*/
body{
    position: relative;
}
header{
    height: 70px;
    background-color: rgba(7, 29, 66, 1);
    position: sticky;
    z-index: 2;
    top: 0;

}

header>p{
    color: white;
    position: absolute;
    /*font-family:"Tsukushi A Round Gothic";*/
    font-family: "BM Hanna Pro";
    font-size: 30px;
    margin-top: 12px;
    margin-left: 15px;
}

header>nav>ul{
    position: absolute;
    top: 4px;
    right: 160px;
}
header>nav>ul>li{
    display: inline;
    margin-right: 20px;
    border-right: 20px;
    font-size: 19px;
    color: white;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: white;
    margin-left: 9px;
    font-weight: bold;
    font-family: "BM Hanna Pro";
}

header>nav>div{
    width: 150px;
    height: 30px;
    border:2px solid white;
    background-color: dodgerblue;
    border-radius: 10px;
    position: absolute;
    right: 9px;
    top: 13px;
    margin: auto;
}
header>nav>div>h4{
    font-family:"Toppan Bunkyu Gothic";
    color: white;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 21px;
    right: 0;
    margin: auto;
}

/*Home Styles*/

body>main>section:nth-child(1){ /*main section*/
    width: 100vw;
    height: 95vh;
    /*background: url("../image/back.jpg");*/
    background-size: 100vw 95vh;
    /*background-color: rgba(23, 39, 82, 1);*/
    background-color: rgba(7, 29, 66, 1);
    position: relative;
}
body>main>section:nth-child(1) .background{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 0;
}
body>main>section:nth-child(1)>article{
    width: 50vw;
    height: 95vh;
    position: absolute;
    top:0;
    left: 0;
}

body>main>section:nth-child(1)>aside{
    width: 50vw;
    height: 95vh;
    position: absolute;
    top:0;
    right:0;
}
body>main>section:nth-child(1)>article>h3{
    margin-top: 0px;
}
body>main>section:nth-child(1)>article>h4{
    margin-top: 0px;
}

body>main>section:nth-child(1)>aside>img{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 85%;
    height: 80%;
    }

body>main>section:nth-child(1)>article>h4:nth-child(1){
    color: white;
    position: absolute;
    top:21%;
    left:11%;
    font-size:400%;
}
body>main>section:nth-child(1)>article>h4:nth-child(2){
    /*color: rgba(0, 168, 255, 1);*/
    color: #1B9CFC;
    position: absolute;
    top:21%;
    left: 26%;
    font-size: 400%;
}
body>main>section:nth-child(1)>article>h4:nth-child(3){
    /*color: rgba(0, 168, 255, 1);*/
    color: white;
    position: absolute;
    top:29%;
    left: 11%;
    font-size:400%;
}

body>main>section:nth-child(1)>article>h4:nth-child(4){
    color: rgba(0, 168, 255, 1);
    /*color: white;*/
    position: absolute;
    top:29%;
    left:20%;
    font-size: 400%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 6s forwards;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

body>main>section:nth-child(1)>article>p{
    /*color: rgba(0, 168, 255, 1);*/
    color: white;
    position: absolute;
    top:30%;
    left: 96px;
    font-size: 200%;
    font-family:Arial;
    /*opacity: .5;*/
}
body>main>section:nth-child(1)>article>p{

    color: white;
    position: absolute;
    top:37%;
    left: 96px;
    font-size:130%;
    /*font-family:Optima;*/
    /*opacity: .5;*/
    font-family:"Tsukushi A Round Gothic";
}

body>main>section:nth-child(1)>article>div{
    width: 21%;
    height: 6.4%;
    background-color: #1B9CFC;
    border-radius: 30px;
    position: absolute;
    top: 8%;
    left: 3%;
    right: 490px;
    bottom: 0;
    margin: auto;
    /*position: relative;*/
}
body>main>section:nth-child(1)>article>div>div{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color:#1B9CFC ;
    position: absolute;
    top: 1px;
    right: 1px;
    border: 3px solid white;
}
body>main>section:nth-child(1)>article>div>div>div{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color:white ;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
body>main>section:nth-child(1)>article>div>p{
    color: white;
    position: absolute;
    top: 9px;
    left: 16px;
    font-family: "Arial Hebrew Scholar";
    font-size: 14px;
}
body>main>section:nth-child(1)>article>div>div>div>img{
    position: absolute;
    width:30px;
    height: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
body>main>section:nth-child(1)>img{
    width: 31px;
    height: 31px;
    right: 4px;
    opacity: .7;
    position: absolute;
}
body>main>section:nth-child(1)>img:nth-child(3){
    width: 39px;
    height: 39px;
    right: 0;
    bottom: 170px;
}
body>main>section:nth-child(1)>img:nth-child(4){
    bottom: 130px;
}
body>main>section:nth-child(1)>img:nth-child(5){
    bottom:85px;
}
body>main>section:nth-child(1)>img:nth-child(6){
    bottom: 40px;
}

/*About Styles*/
body>main>section:nth-child(2){
    position: relative;
    width: 98vw;
    height: 95vh;
    background-color: rgba(241, 251, 255, 0.54);
    margin-right: 10px;
}
body>main>section:nth-child(2)>p:nth-child(1){
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 30%;
    font-size: 750%;
    font-weight: bold;
    opacity:.1;
    font-family: "Avenir Next";
}
body>main>section:nth-child(2)>aside{
    width:33%;
    height: 105%;
    position: absolute;
    top: 0;
    left: 0;
}

body>main>section:nth-child(2)>article{
    width: 68vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}
body>main>section:nth-child(2)>p:nth-child(2){
    margin-top: 0;
    position: absolute;
    top: 5%;
    left: 43%;
    font-size: 225%;
    font-weight: bold;
    font-family: "Avenir Next";
}
body>main>section:nth-child(2)>div:nth-child(3) {
    position: relative;
    width: 6.3%;
    height: 0.5%;
    background-color: #1B9CFC;
    top: 8.7%;
    left: 48%;
}

body>main>section:nth-child(2)>aside>img{
    width: 90%;
    height: 75%;
    position: absolute;
   bottom: 50px;
    left: 0;
}
body>main>section:nth-child(2)>article>p:nth-child(1){
    position: relative;
    left: 0;
    top: 150px;
    font-size: 250%;
    font-family:"Toppan Bunkyu Gothic";
    overflow: hidden;
    white-space: nowrap;
    animation: typing 10s forwards;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
body>main>section:nth-child(2)>article>p:nth-child(2){
    position: relative;
    left: 0;
    top: 13%;
    font-size: 120%;
    font-family:"Toppan Bunkyu Gothic";
    opacity: .7;
}
body>main>section:nth-child(2)>article>p:nth-child(3){
    position: relative;
    left: 0;
    top:13%;
    font-size: 120%;
    font-family:"Toppan Bunkyu Gothic";
    opacity: .7;
}
body>main>section:nth-child(2)>article>p:nth-child(4){
    position: relative;
    left: 0;
    top:13%;
    font-size: 120%;
    font-family:"Toppan Bunkyu Gothic";
    opacity: .7;
}
body>main>section:nth-child(2)>article>div:nth-child(5){
    position: relative;
    width:56%;
    height:27%;
    background-color:rgba(247, 250, 252, 1);
    top: 15%;
    border-radius: 30px;
    border: 1px solid darkblue;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4{
    position: absolute;
    /*display: inline-block;*/
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(1){
    top: 0;
    left: 2%;
    font-size: 145%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(2){
    top:12%;
    left: 2%;
    opacity: .5;
    font-size: 120%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(3){
    top: 32%;
    left: 2%;
    font-size: 145%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(4){
    top: 44%;
    left: 2%;
    opacity: .5;
    font-size: 120%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(5){
    top: 62%;
    left: 2%;
    font-size: 145%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(6){
    top: 73%;
    left: 2%;
    opacity: .5;
    font-size: 120%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(7){
    left: 62%;
    font-size: 145%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(8){
    top: 12%;
    left: 62%;
    opacity: .5;
    font-size: 120%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(9){
    top: 32%;
    left: 62%;
    font-size: 145%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(10){
    top: 43%;
    left: 62%;
    opacity: .5;
    font-size: 120%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(11){
    top: 62%;
    left: 62%;
    font-size: 145%;
}
body>main>section:nth-child(2)>article>div:nth-child(5)>h4:nth-child(12){
    top: 73%;
    left: 62%;
    opacity: .5;
    font-size: 120%;
}

/*Skill Styles*/
body>main>section:nth-child(3){
    position: relative;
    width: 100vw;
    height: 95vh;
    background-color: rgba(241, 251, 255, 0.54);
}
body>main>section:nth-child(3)>p:nth-child(1){
    margin-top: 0;
    position: absolute;
    left: 30%;
    font-size: 780%;
    font-weight: bold;
    opacity:.1;
    font-family: "Avenir Next";
}
body>main>section:nth-child(3)>p:nth-child(2){
    margin-top: 0;
    position: absolute;
    top:4.5%;
    left:46%;
    font-size: 250%;
    font-weight: bold;
    font-family: "Avenir Next";
}
body>main>section:nth-child(3)>div:nth-child(6){
    position: absolute;
    top: 8.5%;
    left: 48%;
    width: 5%;
    height: 0.5%;
    background-color: dodgerblue;
}
body>main>section:nth-child(3)>div:nth-child(3) {
    position: absolute;
    width: 50vw;
    height: 6vh;
    background-color: rgba(31, 58, 130, 1);
    left: 26%;
    top:21%;
    z-index: 2;
    border-radius: 35px;
}

body>main>section:nth-child(3)>section:nth-child(4) {
    width: 70vw;
    height: 60vh;
    position: absolute;
    left: 16%;
    top: 24%;
    border: 2px solid rgba(65, 177, 184, 1);
    background-color: white;
}
body>main>section:nth-child(3)>div:nth-child(3)>button {
    background-color: rgba(31, 58, 130, 1);
    border-radius: 35px;
    height: 6vh;
    color: white;
    width: 15vh;
    border: none;
    position: absolute;
    font-family: "Avenir Next";
    font-weight: bold;
}
body>main>section:nth-child(3)>div:nth-child(3)>button:nth-child(1) {
    left: 2%;
}
body>main>section:nth-child(3)>div:nth-child(3)>button:nth-child(2) {
    left:26%;
}
body>main>section:nth-child(3)>div:nth-child(3)>button:nth-child(3) {
    left:54%;
    background-color:  rgba(0, 168, 255, 1);
}
body>main>section:nth-child(3)>div:nth-child(3)>button:nth-child(4) {
    left:79%;
}
body>main>section:nth-child(3)>img{
    width: 68%;
    height:56%;
    position: relative;
    z-index: 1;
    left: 17%;
    top: 29%;
}

/*Service Styles*/
body>main>section:nth-child(4){
    position: relative;
    width: 100vw;
    height: 95vh;
    background-color: rgba(241, 251, 255, 0.54);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body>main>section:nth-child(4)>h1:nth-child(1){
    margin-top: 0;
    position: absolute;
    top: 0;
    right:33%;
    font-size: 750%;
    font-weight: bold;
    opacity:.1;
    font-family: "Avenir Next";
}
body>main>section:nth-child(4)>div:nth-child(1){
    left: 300px;
    position: absolute;
    top: 200px;
    width: 200px;
    height: 30px;
    background-color: red;
}
body>main>section:nth-child(4)>h3:nth-child(2){
    margin-top: 0;
    position: absolute;
    top: 4.5%;
    right:44%;
    font-size: 225%;
    font-weight: bold;
    font-family: "Avenir Next";
}
body>main>section:nth-child(4)> #underline{
    background-color: rgba(0, 168, 255, 1);
    width: 4%;
    height: 0.4%;
    position: absolute;
    left: 49%;
    top: 8.3%;
}
body>main>section:nth-child(4)>section:nth-child(4){
    background-color: rgba(235, 241, 244, 1);
    position: absolute;
    width: 100%;
    height: 64%;
    bottom: 0;
}
body>main>section>.cat{
    width: 21%;
    height: 37%;
    position: relative;
    background-color: white;
    border: 2px black;
    top: -7%;
    box-shadow: 5px 5px 5px  rgba(152, 210, 240, 1)
}
body>main>section>div:nth-child(5){
    left: 4.2%;
}
body>main>section>div:nth-child(7){
    right: 4.2%;
}
body>main>section>div:nth-child(5)>img{
    width: 22%;
    height: 23%;
    position: relative;
    left: 38%;
    top: 6%;
    margin-right: 20px;
}
body>main>section>div:nth-child(5)>h4{
    font-size: 140%;
    font-family: "Avenir Next";
    position: relative;
    left:13%;
}
body>main>section>div:nth-child(5)>p{
    font-size: 102%;
    font-family: "Avenir Next";
    position: relative;
    left: 2%;
    top: -4.5%;
    margin-left: 8px;
}

body>main>section>div:nth-child(6)>img{
    width: 22%;
    height: 24%;
    position: relative;
    left: 38%;
    top: 6%;
}
body>main>section>div:nth-child(6)>h4 {
    font-size: 140%;
    font-family: "Avenir Next";
    position: relative;
    left: 13%;
}
body>main>section>div:nth-child(6)>p{
    font-size: 102%;
    font-family: "Avenir Next";
    position: relative;
    left: 3%;
    top: -3.7%;
}
body>main>section>div:nth-child(7)>img{
    width: 22%;
    height: 23%;
    position: relative;
    left: 38%;
    top: 6%;
}
body>main>section>div:nth-child(7)>h4{
    font-size: 140%;
    font-family: "Avenir Next";
    position: relative;
    left: 26%;
}
body>main>section>div:nth-child(7)>p{
    font-size: 102%;
    font-family: "Avenir Next";
    position: relative;
    left: 3%;
    top: -3.7%;
}

body>main>section>section:nth-child(8){
    position: absolute;
    width: 67%;
    height: 17%;
    bottom: 11%;
    right:16%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
body>main>section>section:nth-child(8)>div:nth-child(1){
    /*background-color: #1B9CFC;*/
}
body>main>section>section:nth-child(8)>div:nth-child(1)>h3{
    position: relative;
    left: 50%;
    top: 15%;
    font-size:300%;
    font-family: "Khmer Sangam MN";
    margin-top: 0;
    margin-bottom: 0;
}

body>main>section>section:nth-child(8)>div:nth-child(1)>h4{
    position: relative;
    left: 37%;
    top: 19%;
    font-size: 112%;
    font-family: "Khmer Sangam MN";
    margin-top: 0;
    margin-bottom: 0;
}
body>main>section>section:nth-child(8)>div:nth-child(1)>div{
    position: relative;
    left: 100%;
    bottom: 33%;
    width: 0.7%;
    height: 50%;
    background-color: black;
    opacity: 0.2;
}
body>main>section>section:nth-child(8)>div:nth-child(2){
    /*background-color: orange;*/
}
body>main>section>section:nth-child(8)>div:nth-child(2)>h3{
    position: relative;
    left: 50%;
    top: 15%;
    font-size: 300%;
    font-family: "Khmer Sangam MN";
    margin-top: 0;
    margin-bottom: 0
}
body>main>section>section:nth-child(8)>div:nth-child(2)>h4{
    position: relative;
    left: 34%;
    top: 19%;
    font-size: 112%;
    font-family: "Khmer Sangam MN";
    margin-top: 0;
    margin-bottom: 0;
}
body>main>section>section:nth-child(8)>div:nth-child(2)>div{
    position: relative;
    left: 111%;
    bottom: 33%;
    width: 0.7%;
    height: 50%;
    background-color: black;
    opacity: 0.2;
}
body>main>section>section:nth-child(8)>div:nth-child(3){
    /*background-color: pink;*/
}
body>main>section>section:nth-child(8)>div:nth-child(3)>h3{
    position: relative;
    left: 50%;
    top: 15%;
    font-size: 300%;
    font-family: "Khmer Sangam MN";
    margin-top: 0;
    margin-bottom: 0
}
body>main>section>section:nth-child(8)>div:nth-child(3)>h4{
    position: relative;
    left: 38%;
    top: 19%;
    font-size: 112%;
    font-family: "Khmer Sangam MN";
    margin-top: 0;
    margin-bottom: 0;
}
body>main>section>section:nth-child(8)>div:nth-child(3)>div{
    position: relative;
    left: 111%;
    bottom: 33%;
    width: 0.7%;
    height: 50%;
    background-color: black;
    opacity: 0.2;
}
body>main>section>section:nth-child(8)>div:nth-child(4){
    /*background-color: green;*/
}
body>main>section>section:nth-child(8)>div:nth-child(4)>h3{
    position: relative;
    left: 50%;
    top: 15%;
    font-size: 300%;
    font-family: "Khmer Sangam MN";
    margin-top: 0;
    margin-bottom: 0
}
body>main>section>section:nth-child(8)>div:nth-child(4)>h4{
    position: relative;
    left: 45%;
    top: 19%;
    font-size: 112%;
    font-family: "Khmer Sangam MN";
    margin-top: 0;
    margin-bottom: 0;
}
/*projects Styles*/

body>main>section:nth-child(5){
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(241, 251, 255, 0.54);
    margin-right: 10px;
}

body>main>section:nth-child(5)>h1:nth-child(1){
    margin-top: 0;
    position: absolute;
    top: 0;
    right:33%;
    font-size: 750%;
    font-weight: bold;
    opacity:.1;
    font-family: "Avenir Next";
}

body>main>section:nth-child(5)>h3:nth-child(2){
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    font-size: 220%;
    font-weight: bold;
    font-family: "Avenir Next";
    left: 46%;
    top: 5%;
}
body>main>section:nth-child(5)>div:nth-child(3){
    position: absolute;
    width: 5%;
    height: 0.5%;
    background-color: #1B9CFC;
    top: 8.5%;
    right: 46%;
}
body>main>section:nth-child(5)>h5:nth-child(4){
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    font-size: 120%;
    left: 40%;
    top: 18%;
    display: inline-block;
    font-family: "Avenir Next";
}
body>main>section:nth-child(5)>h5:nth-child(5){
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    font-size: 120%;
    left: 44%;
    top: 18%;
    display: inline-block;
    font-family: "Avenir Next";
}
body>main>section:nth-child(5)>h5:nth-child(6){
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    font-size: 120%;
    left: 47%;
    top: 18%;
    display: inline-block;
    font-family: "Avenir Next";
}
body>main>section:nth-child(5)>h5:hover{
    color: dodgerblue;
}
body>main>section:nth-child(5)>h5:nth-child(4):hover{
    font-size: 160%;
}
body>main>section:nth-child(5)>div:nth-child(7){
    position: relative;
    width: 77%;
    height: 68%;
    top: 22%;
    left: 12%;
}
body>main>section:nth-child(5)>div:nth-child(7)>img:nth-child(1){
    position: relative;
    width: 40%;
    height: 45%;
    left: 8%;
    top: -5%;
    box-shadow: 10px 10px 10px  lightblue
}
body>main>section:nth-child(5)>div:nth-child(7)>img:nth-child(2){
    position: relative;
    width: 40%;
    height: 50%;
    left: -31%;
    top: 50%;
    box-shadow: 10px 10px 10px  lightblue
}
body>main>section:nth-child(5)>div:nth-child(7)>img:nth-child(3){
    position: relative;
    width: 20%;
    height: 77%;
    top: -62%;
    left: 50%;
    box-shadow: 10px 10px 10px  lightblue

}
body>main>section:nth-child(5)>div:nth-child(7)>img:nth-child(4){
    position: relative;
    width: 22%;
    height: 90%;
    top: -49%;
    left: 51%;
    box-shadow: 10px 10px 10px  lightblue
}



/*Contact style*/
body>main>section:nth-child(6){
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(241, 251, 255, 0.54);
    margin-right: 10px;
}
body>main>section:nth-child(6)>h1:nth-child(1){
    margin-top: 0;
    position: absolute;
    top: 0;
    right:33%;
    font-size: 750%;
    font-weight: bold;
    opacity:.1;
    font-family: "Avenir Next";
}
body>main>section:nth-child(6)>h3:nth-child(2){
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    font-size: 220%;
    font-weight: bold;
    font-family: "Avenir Next";
    left: 44%;
    top: 5%;
}
body>main>section:nth-child(6)>div:nth-child(3){
    position: absolute;
    width: 5%;
    height: 0.5%;
    background-color: #1B9CFC;
    top: 8.5%;
    right: 47%;
}
body>main>section:nth-child(6)>article:nth-child(4){
    position: relative;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
}
body>main>section:nth-child(6)>aside:nth-child(5){
    position: absolute;
    width: 55%;
    height: 100%;
    top: 0;
    right: 0;
}
body>main>section:nth-child(6)>article:nth-child(4)>div{
    width: 13%;
    height: 10%;
    border-radius: 100%;
    background-color:rgba(36, 61, 125, 1);
    position: absolute;
}
body>main>section:nth-child(6)>article:nth-child(4)>div:nth-child(1){
    left: 10%;
    top: 22%;
}
body>main>section:nth-child(6)>article:nth-child(4)>div:nth-child(1)>img{
    width: 41%;
    height: 47%;
    position: absolute;
    left: 29%;
    top: 27%;
}
body>main>section:nth-child(6)>article:nth-child(4)>h3:nth-child(2){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 26%;
    top: 23.5%;
    font-size: 200%;
    font-family: "Avenir Next";
}
body>main>section:nth-child(6)>article:nth-child(4)>h4:nth-child(3){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 26%;
    top: 27%;
    font-size: 95%;
    font-family: "Avenir Next";
    opacity: 0.5;

}
body>main>section:nth-child(6)>article:nth-child(4)>div:nth-child(4){
    left: 10%;
    top: 37%;
}
body>main>section:nth-child(6)>article:nth-child(4)>div:nth-child(4)>img{
    width: 41%;
    height: 32%;
    position: absolute;
    left: 29%;
    top: 35%;
}
body>main>section:nth-child(6)>article:nth-child(4)>h3:nth-child(5){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 26%;
    top: 38%;
    font-size: 200%;
    font-family: "Avenir Next";
}
body>main>section:nth-child(6)>article:nth-child(4)>h4:nth-child(6){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 26%;
    top: 41.7%;
    font-size: 95%;
    font-family: "Avenir Next";
    opacity: 0.5;
}
body>main>section:nth-child(6)>article:nth-child(4)>div:nth-child(7){
    left: 10%;
    top: 51%;
}
body>main>section:nth-child(6)>article:nth-child(4)>div:nth-child(7)>img{
    width: 48%;
    height: 47%;
    position: absolute;
    left: 25%;
    top: 26%;
}
body>main>section:nth-child(6)>article:nth-child(4)>h3:nth-child(8){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 26%;
    top: 53%;
    font-size: 200%;
    font-family: "Avenir Next";
}
body>main>section:nth-child(6)>article:nth-child(4)>h4:nth-child(9){
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    left: 26%;
    top: 56.5%;
    font-size: 95%;
    font-family: "Avenir Next";
    opacity: 0.5;
}
body>main>section:nth-child(6)>aside>form{
    position: relative;
    top: 22%;

}
body>main>section:nth-child(6)>aside>form>#txtName{
    width: 38%;
    height: 22%;
    border-radius: 8px;
    border: 1px solid rgba(23, 39, 82,1);
    position: absolute;

}
body>main>section:nth-child(6)>aside>form>#txtEmail{
    width: 38%;
    height: 22%;
    border-radius: 8px;
    border: 1px solid rgba(23, 39, 82, 1);
    position: absolute;
    top: 0;
    left: 40%;
}
body>main>section:nth-child(6)>aside>form>#txtSubject{
    width: 38%;
    height: 22%;
    border-radius: 8px;
    border: 1px solid rgba(23, 39, 82, 1);
    position: absolute;
    top: 32%;
    left: 40%;
}
body>main>section:nth-child(6)>aside>form>#txtPhone{
    width: 38%;
    height: 22%;
    border-radius: 8px;
    border: 1px solid rgba(23, 39, 82, 1);
    position: absolute;
    top: 33%;

}
body>main>section:nth-child(6)>aside>form>#textArea{
    width: 78%;
    height: 105%;
    border-radius: 8px;
    border: 1px solid rgba(23, 39, 82, 1);
    position: absolute;
    top:65%;
}
body>main>section:nth-child(6)>aside>form>button{
    width: 20%;
    height: 27%;
    background-color: rgba(0, 168, 255, 1);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 130%;
    position: absolute;
    top: 180%;
    font-family: "Avenir Next";
}
body>main>section:nth-child(6)>section{
    position: relative;
    width: 96%;
    height: 35%;
    background: url("../image/mapNew.jpg");
    bottom: 36%;
    left: 2%;
}
footer{
    height: 120px;
    width: 100vw;
    background-color: rgba(7, 29, 66, 1);
    bottom: 0;
    margin-top: 15px;
}

/*footer>h6:nth-child(2){*/
footer>h4{
    position: absolute;
    color: white;
    font-family: "Avenir Next";
    font-size: 33px;
    margin-top: 0;
    margin-bottom: 0;
    left: 5px;
}
footer>h6:nth-child(2){
    position: absolute;
    bottom: 10px;
    right: 150px;
    color: white;
    font-family: "Avenir Next";
    font-size: 13px;
    margin-bottom: 0;

}
footer>h6:nth-child(3){
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-family: "Avenir Next";
    font-size: 13px;
    margin-bottom: 0;

}

body>main>section:nth-child(7){
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: red;
    margin-right: 10px;
}