@media all and (max-width: 425px) and (min-width: 320px){


    body>main>section:nth-child(1) .background {
        position: absolute;
        display: none;
    }
    body>main>section:nth-child(1)>aside>img {
        display: none;
    }
    body>main>section:nth-child(1)>article {
        width: 100vw;
        height: 95vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    nav {
        display: none;
    }
    header>img{
        position: relative;
        width: 25%;
        height: 25%;
        top: 32%;
        left: 71%;
    }

    body>main>section:nth-child(1){ /*main section*/
        height: 40vh;
    }
    body>main>section:nth-child(1)>article>h4:nth-child(1) {
        top: 5%;
        left: 16%;
    }
    body>main>section:nth-child(1)>article>h4:nth-child(2) {
        color: var(--var-color);
        position: absolute;
        top: 5%;
        left: 34%;
        font-size: 250%;
    }
    body>main>section:nth-child(1)>article>h4:nth-child(3) {
        top: 10%;
        left: 16%;
        font-size: 250%;
    }
    body>main>section:nth-child(1)>article>h4:nth-child(4) {
        top: 10%;
        left: 25%;
        font-size: 250%;
        margin-bottom:0;
    }
    body>main>section:nth-child(1)>article>p {
        top: 18%;
        left: 60px;
        font-size: 70%;
        margin:0;
    }
    body>main>section:nth-child(1)>article>img {
        width: 19.5% !important;
        height: 6.5%;
        position: relative;
        top: 28% !important;
        left: 34%;
    }
    body>main>section:nth-child(2)>aside>img {
        display:none;
    }
    body>main>section:nth-child(2)>aside {
        display:none;
    }
    body>main>section:nth-child(2)>article {
        width: 90vw;
        height: 100vh;
    }
    body>main>section:nth-child(2)>p:nth-child(1) {
        margin: 0;
        top: 0%;
        left: 22%;
        font-size: 300%;
    }
    body>main>section:nth-child(2)>p:nth-child(2) {
        margin: 0;
        top: 3%;
        left: 37%;
        font-size: 110%;
    }
    body>main>section:nth-child(2)>article>div:nth-child(4) {
        display:none;
    }
    body>main>section:nth-child(2)>article>div:nth-child(5) {
        display:none;
    }
    body>main>section:nth-child(2) {
        height: 40vh;
    }
    body>main>section:nth-child(2)>article>p:nth-child(1) {
        position: relative;
        left: 0;
        top: 8%;
        font-size: 150%;
        margin:0;
    }
    body>main>section:nth-child(2)>article>p:nth-child(2) {
        left: 0;
        top: 10%;
        font-size: 45%;
        padding-right:20px;

    }
    body>main>section:nth-child(2)>article>p:nth-child(3) {
        position: relative;
        left: 0;
        top: 10%;
        font-size: 45%;
        font-family: "Toppan Bunkyu Gothic";
        opacity: .7;
    }

}